body {
  background-color: var(--primary);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ====== ROOT ====== */

:root {
  --app-padding: 20px 100px;
  --app-height: 100%;
  /* === LIGHT MODE === */
  --primary: #FDFAF3;
  --secondary: #2E2B24;
  --seafoam: #DCEDCD;
  --budding: #D8DF20;
}

/* ====== FONTS ====== */

h1, h2, h3, h4, h5, h6, p {
  color: var(--secondary);
}

h1 {
  font-family: "verdana-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "verdana-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-family: "verdana-pro", sans-serif;
  font-weight: 300;
  font-style: italic;
}

h4 {
  font-family: "verdana-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: "verdana-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* ====== STYLES ====== */

.hr-line {
  background-color: var(--secondary);
  height: 1px;
}

.square {
  background-color: var(--budding);
  height: 70px;
  width:70px;
}

/* ====== FLEX ====== */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.c-gap-20 {
  column-gap: 20px;
}

.r-gap-20 {
  row-gap: 20px;
}

.border-box {
  box-sizing: border-box;
}

.flex-wrap {
  flex-wrap: wrap;
}
/* ====== NAV ====== */

.nav-wrapper {
  background-color: var(--secondary);
  padding: var(--app-padding);
  width: 100vW;
}

.nav-wrapper a, h4 {
  color: var(--primary);
  text-decoration: none;
}



.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  border: 1px var(--seafoam) solid;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: 0px;
  background-color: var(--seafoam);
  border: 1px var(--secondary) solid;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #BF7436;
}

input:focus + .slider {
  box-shadow: 0 0 1px #BF7436;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ====== FOOTER ====== */

.footer-wrapper {
  background-color: var(--secondary);

  padding: var(--app-padding);
}

.footer-wrapper h2 {
  color: var(--primary);
}

.social-icon {
  fill: var(--seafoam);
  transition-duration: 300ms;
  width: 20px;
}

/* ====== PAGE ====== */

.page-container {
  padding: var(--app-padding);
}

.text-wrapper {
  width: 40%;
}

.feature-image {
  height: 70vH;
  object-fit: cover;
  object-position: 0% 0%; 
  width: 100vW;
}

.full-height {
  height: calc(var(--app-height) - 150px);
}
/* ====== CONTACT ====== */

.contact-form {
  padding-top: 10%;
  width: 50%;
}

input {
  background-color: var(--primary);
  border-bottom: 1px solid var(--secondary);
  border-top: none;
  border-left: none;
  border-right: none;
  color: #4E4E4E;
  font-size: 16px;
  font-family: "verdana-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  transition-duration: 300ms;
  width: 40%;
}

input:focus {
  border-bottom: 3px solid var(--seafoam);
  color: var(--secondary);
  outline: none;
  transition-duration: 300ms;
}

textarea {
  background-color: var(--primary);
  border-bottom: 1px solid var(--secondary);
  border-top: none;
  border-left: none;
  border-right: none;
  color: #4E4E4E;
  font-size: 16px;
  font-family: "verdana-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  height: 200px;
  width: 100%;
}

textarea:focus {
  border-bottom: 3px solid var(--seafoam);
  color: var(--secondary);
  outline: none;
  transition-duration: 300ms;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  border: 1px solid var(--secondary)
}

button {
  background-color: var(--secondary);
  border-radius: 0px;
  border: none;
  color: var(--primary);
  font-family: "verdana-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  transition-duration: 300ms;
  width: 30%;
}

button:hover {
  background-color: var(--seafoam);
  color: var(--secondary);
  cursor: pointer;
  transition-duration: 300ms;
}

select {
  background-color: var(--primary);
  border-bottom: 1px solid var(--secondary);
  border-top: none;
  border-left: none;
  border-right: none;
  color: #4E4E4E;
  font-size: 16px;
  font-family: "verdana-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 40%;
}